<ion-header>
  <ion-toolbar>
    <ion-title>
      Searchbar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar color="light" debounce="600" placeholder="Enter a Business Name" [(ngModel)]="searchTerm" (ionChange)="getUsersSearch()" (ionClear)="userClear()"></ion-searchbar>
  <ion-list *ngIf="searchTerm && this.show === false">
    <ion-item *ngFor="let user of users" (click)="setUser(user)" lines="true">
      <ion-avatar slot="start">
        <img src="../../assets/avatar.png"/>
      </ion-avatar>
      <ion-label>
        <p class="item-text">{{user?.businessName}}</p>
        <ion-text class="item-text4">{{user?.businessAddress}}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="this.show === true" lines="none">
    <ion-avatar class="centerAv" slot="start">
      <img src="../../assets/avatar.png"/>
    </ion-avatar>
    <p class="item-text2">Paying {{this.business}}</p>
    <p class="item-text3">{{this.address}}</p>
  </div>
</ion-content>
